/* Universal Selector to remove default browser settings */
* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

@font-face {
  font-family: "Main";
  src: url(../public/fonts/Outfit-VariableFont_wght.ttf);
  font-weight: 400 700;
  font-style: normal;
}

/* CSS Variables */
:root {
  --White: hsl(0, 0%, 100%);

  --Slate300: hsl(212, 45%, 89%);
  --Slate500: hsl(216, 15%, 48%);
  --Slate900: hsl(218, 44%, 22%);
}

html {
  font-size: 15px;
}

body {
  font-family: "Main";
  background-color: var(--Slate300);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;
  height: 499px;
  background-color: var(--White);
  padding: 16px 16px 40px 16px;
  border-radius: 20px;
  box-shadow: 0 1px 50px -20px #00000040;
  text-align: center;
}

img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

h1 {
  color: var(--Slate900);
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  padding: 0px 16px;
}

p {
  color: var(--Slate500);
  line-height: 140%;
  letter-spacing: 0.2px;
  padding: 0px 16px;
  margin-top: 16px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
